.tile {
  width: 25%;
  float: left;
  .product-tile-container {
    padding: 10px;
  }
  .product-tile {
    height: 248px; // border will add another 2px to the height
    border: 1px solid $brand-gray;
    position: relative;
    .discount {
      padding: 5px;
      font-size: 14px;
      color: $white;
      background-color: $brand-green;
      position: absolute;
      left: 0;
      top: 20px;
    }
    .top {
      text-align: center;
      padding: 13px;
      img {
        width: 140px;
        height: 140px;
        object-fit: cover;
      }
    }
    .bottom {
      padding: 10px;
      background-color: $brand-gray;
      .title-container {
        margin-bottom: 15px;
      }
      .price-and-cta {
        display: flex;
        justify-content: space-between;
        .price {
          font-weight: 500;
          font-size: 16px;
          display: flex;
          align-items: center;
          .old-price {
            opacity: 0.6;
            margin-right: 10px;
            font-style: italic;
            position: relative;
            &:after {
              content: " ";
              position: absolute;
              width: 100%;
              height: 2px;
              background: red;
              top: 50%;
              margin-top: -1px;
              left: 0;
            }
          }
        }
        .cart-count {
          margin: 0 10px;
          min-width: 50px;
        }
      }
    }
  }
}
