{
  "extends": ["airbnb"],
  "parser": "babel-eslint",
  "env": {
    "mocha": true,
    "browser": true,
  },
  "rules": {
    "semi": "off",
    "import/extensions": "never",
    "jsx-a11y/anchor-is-valid": [ "error", {
      "specialLink": [ "hrefLeft", "hrefRight" ],
      "aspects": [ "noHref", "invalidHref", "preferButton" ]
    }],
    "react/jsx-filename-extension": "never",
    "import/prefer-default-export": "warn"
  },
  "settings": {
    "import/resolver": "webpack"
  }
}
