{
  "extends": ["airbnb"],
  "parser": "babel-eslint",
  "rules": {
    "semi": "off",
    "import/extensions": "never",
    "jsx-a11y/anchor-is-valid": [ "error", {
      "specialLink": [ "hrefLeft", "hrefRight" ],
      "aspects": [ "noHref", "invalidHref", "preferButton" ]
    }]
  },
  "settings": {
    "import/resolver": "webpack"
  }
}
