.cart {
  .container {
    margin-top: 40px;
    margin-left: -10px;
    margin-right: -10px;
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    .left {
      width: calc(100% - 320px);
      float: left;
      .cost {
        display: none;
      }
      .header {
        display: flex;
        padding: 10px 0;
        border-bottom: 1px solid $brand-gray;
        .item {
          width: 70%;
        }
        .price {
          margin: 0 10px 0 auto;
        }
      }
      .products {
        padding-top: 20px;
        .values {
          margin-top: 20px;
        }
      }
    }
    .right {
      width: 320px;
      float: left;
      margin-top: 39px;
      position: sticky;
      top: 30px;
      &.bottom {
        bottom: 0;
      }
    }
    .cost {
      padding: 10px;
      border: 1px solid $brand-gray;
      h4 {
        margin: 0;
      }
    }
    .title-section {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
      border-bottom: 1px solid $brand-gray;
      .title {
        font-size: 24px;
        font-weight: 300;
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 850px) {
  .cart {
    .container {
      .left {
        width: 100%;
        .cost {
          margin-top: 20px;
          display: block;
        }
      }
      .right {
        display: none;
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 520px) {
  .cart {
    .container {
      .left {
        .header {
          .item {
            width: 40%;
          }
        }
      }
    }
  }
}
