.cart-product-list {
  display: flex;
  margin-bottom: 20px;
  .left {
    display: flex;
    width: 60%;
    align-items: center;
    padding: 5px;
    border: 1px solid $brand-gray;
    .remove {
      margin-left: auto;
      margin-right: 20px;
      user-select: none;
      font-weight: 400;
      color: red;
      cursor: pointer;
    }
    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
    .name {
      margin-left: 20px;
    }
  }
  .right {
    display: flex;
    margin-left: 30px;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    .modifiers {
      font-size: 22px;
      span {
        cursor: pointer;
        user-select: none;
      }
      .count {
        display: inline-block;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0 15px;
        width: 50px;
        font-size: 22px;
        border: 1px solid $brand-gray;
        height: 58px;
        text-align: center;
      }
    }
    .total {
      margin-right: 10px;
    }
  }
}
