.cart-info {
  img {
    width: 15px;
    margin-left: 10px;
  }
  .item-count {
    background-color: $white;
    padding: 2px 7px;
    font-weight: 600;
    border-radius: 2px;
    margin-left: 10px;
    color: $brand-primary;
  }
}
